.video_item_design {
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  cursor: pointer;
  transition-duration: 1s;
  margin-bottom: 60px;
}
.video_item_design:hover {
background-color: #cd5c5c;
  cursor: pointer;
  transition-duration: 1s;
  color: white;
}

#dark .video_item_design {
  background-color: #28104d;
  color: white;
}
.video_title_design {
  padding: 10px;
}
.profile_pic_name {
  display: flex;
}
.profile_pic img {
  height: 40px;
  width: 40px;
  border-radius: 90px;
  object-fit: cover;
}
.name {
  padding-left: 15px;
}

/* theme color */
.theme-chang {
  justify-content: center;
  /* background-color: rgb(219, 142, 142); */
  height: 50px;
  background-color: #cd5c5c;
  width: 50px;
  right: 0;
  margin-right: 10px;
  /* right: 10; */
  color: black;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  position: fixed;
  color: white;
  top: 150;
  margin-top: 250px;
  border-radius: 10px;
  cursor: pointer;
}

.theme-icon {
  animation: rotation infinite 3s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
